<html>
  <head>
    <title>{% block title %}Gossip Box - Open source web-based chat{% endblock %}</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>Gossip Box</h1>
      </div>
      <div style="width: 100%; text-align: right; margin-top: -20px; ">
            {% if user %}
            {{ user.nickname }} | <a href="{{ logout_url }}">Logout</a>
            {% endif %}
        </div>
      <div id="content">
          
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>