{% extends 'base.html' %}
{% block title %}Water Cooler - {{ room.id }}{% endblock %}
{% block head %}
<style type="text/css">
    td.user { text-align: right; font-weight: bold; }
    td.body { width: 100%; }
    td.body.SystemMessage, td.body.LeaveMessage, td.body.JoinMessage { font-weight:bold;}
</style>
<script type="text/javascript" src="/static/swfobject.js"></script>
<script type="text/javascript">
    function trace(s) { try { console.log(s) } catch (e) { } }
    
    var lastUser = null;
    function receiveMessage(message) {
      var user = '';
      if (message['type'] == 'JoinMessage') { addParticipant(message['user']); }
      if (message['type'] == 'LeaveMessage') { removeParticipant(message['user']); }
      if (message['type'] == 'TextMessage') {
        if (lastUser != message['user']) {
          user = message['user'];
        }
        lastUser = message['user'];
      }
      displayMessage(user, message['type'], message['body'])
    }
    
    function displayMessage(user, type, body) {
      $('#messages').append('<tr><td class="user">'+user+'</td><td class="body '+type+'">'+body+"</td></tr>");
    }
    function addParticipant(user) {
      $('#participants').append('<li id="participant-'+user.replace(/[@\.]/g, '-')+'">'+user+'</li>');
    }
    function removeParticipant(user) {
      $('#participant-'+message['user'].replace(/[@\.]/g, '-')).remove();
    }
    
    $(document).ready(function() {    
      $('form').submit(function() {
        $.ajax({url:'/room/{{room.id}}/speak', type:'post', data:$(this).serialize()});
        $('#message-body').val('');
        return false;
      });
    });
  
</script>
{% endblock %}
{% block content %}



<div style="float: right; width: 20%;">
    <strong>Currently in room:</strong>
    <ul id="participants">
        {% for participant in participants %}
        <li id="participant-{{participant.0}}">{{participant.1}}</li>
        {% endfor %}
    </ul>
    <input type="button" value="Leave Room" onclick="$.ajax({url:'/room/{{room.id}}/leave', type:'post', success:function(){window.location.href='/'}})" />
</div>

<table style="width: 80%;" id="messages"></table>

<form style="display:block;"><textarea name="body" id="message-body" onkeyup="if(event.keyCode==13){$('#message-body').val('')}" onkeypress="if(event.keyCode==13){$('#message-body').val($.trim($('#message-body').val())); $('form').submit()}" style="width: 300px;"></textarea> <input type="submit" value="Send message" style="vertical-align:top;" /></form>


<div id="cometcatchr"></div>
<script type="text/javascript">
swfobject.embedSWF("/static/CometCatchr.swf?url=http://{{realtime_server}}/watercooler/room/{{room.id}}/live.json&callback=receiveMessage&logger=trace", "cometcatchr", "0", "0", '9.0.0');
</script>
{% endblock %}